* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* transition: 0.7s ease-in-out all; */
}

body {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    /* font-family: "Lato", sans-serif; */
    /* font-family: "Assistant", bold; */
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 16.8px;
    text-align: center;
    list-style-type: none;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}

.wrap {
    /* max-width: 1920px; */
    /* min-width: 1920px; */
    width: 1920px;
    margin: 0 auto;
    /* outline: 1px solid red; */
    /* padding: 0 15px; */
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

header {
    display: flex;
    background-color: #000000;
    justify-content: space-between;
}

.header_logo {
    min-width: 330px;
}

.header-nav {
    display: flex;
}

.header-nav>ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.header-nav>ul>li {
    padding: 20px;
}

.header-nav>ul>li>a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

.feed-search-cont {
    display: flex;
    align-items: center;
    margin-right: 157px;
}

.feed-search-cont>ul>li {
    padding: 17px;
    display: inline-block;
}

.promo {
    /* min-width: 1920px; */
    width: 1920px;
    min-height: 1079px;
    background-image: url(img/promo_bgi_v1.jpg);
    background-repeat: no-repeat;
    background-position-y: -19px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

.promo-wrap {
    display: flex;
    justify-content: flex-end;
}

.promo-nav {
    display: flex;
    height: 110px;
    margin-top: 13%;
    margin-right: 13%;

}

.promo-nav>ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    /* grid-template-areas:
        ". ."
        ". ."; */
}

.promo-nav>ul>li {
    color: #FFFFFF;
    font-size: 20px;
    text-transform: uppercase;
    width: 218px;
    /* height: 37px; */
    padding: 12px;

}

.promo-nav>ul>li>a {
    text-decoration: none;
    color: #FFFFFF;
}

.promo-slider-up {
    width: 800px;
    height: 363.63px;
    margin-top: 37px;
    display: flex;
    overflow: hidden;
}

.promo-slider-up-cube {
    position: absolute;
}

.promo-slider-down {
    display: flex;
    justify-content: flex-start;
    height: 578.05px;
    width: 84.25%;
    /* background-color: yellow; */
    z-index: 100;
}

.promo-slider-down-cont {
    width: 100%;
    display: flex;
    overflow: hidden;
}

.promo-slider-down-1s {
    background-color: black;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.promo-slider-down-1s>span {
    color: white;
    width: 1025px;
    height: 100px;
    font-size: 114px;
}

.promo-slider-down-1s>span:first-child {
    font-size: 72px;
}

.promo-slider-down-2s {
    width: 67%;
}

.services {
    /* min-width: 1920px; */
    width: 1920px;
    min-height: 1348px;
    background-image: url(img/serveces_bgi.jpg);
    /* display: flex;
    flex-direction: column; */
}

.services-heading {
    color: black;
    font-size: 96px;
    text-transform: uppercase;
    height: 30px;
    margin: 6.5% 0;
}

.services-categories {
    list-style-type: none;
    width: 1274px;
    height: 846px;
    /* background-color: aqua; */
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 35px
}

.services-categories>div {
    width: 31.5%;
    height: 47.9%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #FFFFFF;
}

.services-categories>div>img {
    width: 100%;
    height: 62%;
    margin-bottom: 20px;
}

.services-categories>div>p {
    color: black;
    display: inline-block;
    font-size: 24px;
    padding-left: 27px;
    padding-top: 14px;
    height: 31px;
    text-align: left;
    font-weight: 700;
    text-transform: uppercase;
}

.ourwork {
    height: 1955px;
    background-color: #FF607F;
}

.ourwork {}

.ourwork>h3 {
    font-size: 96px;
    font-weight: 200;
    height: 44px;
    margin-top: 94px;
    margin-bottom: 38px;
}

.ourwork>p {
    font-size: 28px;
    color: #FFFFFF;
    font-weight: 700;
    height: 22px;
}

.ourwork>ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-top: 69px;
    margin-bottom: 90px;
    margin-left: 250px;
    margin-right: 250px;
    gap: 35px;
}

.ourwork>ul>li {
    font-size: 16px;
    font-weight: 700;
    width: 16%;
}

.ourwork-container{
    
}