* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* transition: 0.7s ease-in-out all; */
}

body {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    /* font-family: "Lato", sans-serif; */
    /* font-family: "Assistant", bold; */
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 16.8px;
    text-align: center;
    list-style-type: none;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}

.wrap {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    /* outline: 1px solid red; */
    /* padding: 0 15px; */
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.header {
    display: flex;
    background-color: #000000;
    justify-content: space-between;
}

.header > a {
    display: inherit;
}

@media (max-width: 1920px){
    .header {
        width: 100%;      
    }
}

.header_logo {
    min-width: 330px;
}

.header-nav {
    display: flex;
}

.header-nav>ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.header-nav>ul>li {
    padding: 20px;
}

.header-nav>ul>li>a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

.feed-search-cont {
    display: flex;
    align-items: center;
    margin-right: 157px;
}

@media (max-width: 1920px){
    .feed-search-cont{
        margin-right: 2%;
    }
}

.feed-search-cont>ul>li {
    padding: 17px;
    display: inline-block;
}
/* --------------Промо------------- */
/* --------------Промо------------- */
/* --------------Промо------------- */
.promo {
    /* height: 1079px; */
    background-image: url(img/promo_bgi_v1.jpg);
    background-repeat: no-repeat;
    background-position-y: -19px;
    background-size: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    gap: 99px;
}

@media (max-width: 1920px){
    .promo{
        /* width: 100%;
        background-size: 100%;
        height: 100%; */
    }
}

.promo-wrap {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.promo-nav {
    display: flex;
    height: 110px;
    margin-top: 2%;
    margin-right: 2%;

}
@media(max-width:1920px){
    .promo-nav{
        /* margin-right: 2%; */
    }    
}

.promo-nav>ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    /* grid-template-areas:
        ". ."
        ". ."; */
}

.promo-nav>ul>li {
    color: #FFFFFF;
    font-size: 20px;
    text-transform: uppercase;
    width: 218px;
    /* height: 37px; */
    padding: 12px;

}

.promo-nav>ul>li>a {
    text-decoration: none;
    color: #FFFFFF;
}

.promo-slider-up {
    /* width: 800px; */
    width: 42%;
    max-width: 800px;
    /* height: 363.63px; */

    margin-top: 37px;
    display: flex;
    overflow: hidden;
}

.promo-slider-up>img{
    width: 100%;

}


.promo-slider-up-cube {
    position: absolute;

}
@media (max-width: 1905px){
    .promo-slider-up-cube {
        display: none;
    }
}

.promo-slider-down {
    display: flex;
    justify-content: flex-start;
    
    width: 84.25%;
    /* background-color: yellow; */
    z-index: 100;
}


.promo-slider-down-cont {
    width: 100%;
    display: flex;
    overflow: hidden;
}

.promo-slider-down-cont-cliker{
    position: relative;
    background-color: black;
}

.promo-slider-down-1s1{
    /* display: none; */
    position: absolute;
    transition: none;
    right: 25000px;
    top: 25000px
}

.promo-slider-down-1s {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 1025px;
    height: 100%;
}

@media (max-width: 1920px){
    .promo-slider-down-1s{
        height: 100%;
    }
}

.promo-slider-down-1s>span {
    color: white;
    /* width: 1025px;
    height: 100px; */
    line-height: 100px;
    font-size: 114px;
}

.promo-slider-down-1s>span:first-child {
    font-size: 72px;
}

.promo-slider-down-2s {
    width: 67%;
}

.services {
    
    /* min-height: 1348px; */
    background-image: url(img/serveces_bgi.jpg);
    background-size: 100%;
}

.services-heading {
    color: black;
    font-size: 96px;
    text-transform: uppercase;
    height: 30px;
    margin: 6.5% 0;
}

@media (max-width: 1170px) {
    .services-heading {
        font-size: 60px;
    }
}

.services-categories {
    list-style-type: none;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    margin-bottom: 15%;
}

.services-categories>div {
    width: 24.5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #FFFFFF;
}

@media (max-width: 1580px){
    .services-categories>div{
        width: 28%;
    }
}

@media (max-width: 1170px){
    .services-categories>div{
        width: 44%;
    }
}

.services-categories>div>img {
    width: 100%;
    /* height: 62%; */
    margin-bottom: 6%;
}

@media (max-width: 1580px){
    .services-categories>div>img{

    }
}

.services-categories>div>p {
    color: black;
    display: inline-block;
    font-size: 1.7em;
    padding-left: 7%;
    padding-bottom: 10%;
    text-align: left;
    font-weight: 700;
    text-transform: uppercase;
}

@media (max-width: 1580px){
    .services-categories>div>p{
        font-size: 18px;
        padding-left: 18px;
        padding-top: 7px;
    }
}

@media (max-width: 1170px){
    .services-categories>div>p{
        font-size: 1.5em;

    }
}
@media (max-width: 590px){
    .services-categories>div>p{
        font-size: 1em;
        
    }
}
.ourwork {

    background-color: #FF607F;
}

.ourwork {}

.ourwork>h3 {
    font-size: 7em;
    font-weight: 200;
    /* height: 44px; */
    margin-top: 94px;
    margin-bottom: 38px;
    margin-top: 6%;
    margin-bottom: 3%;
    line-height: 1em;
}

@media (max-width: 1580px){
    .ourwork>h3{
    font-size: 5em;
    margin-top: 6%;
    margin-bottom: 3%;
    }
}
@media (max-width: 1170px){
    .ourwork>h3{
        font-size: 3em;
    }
}
.ourwork>h3:hover{
    color: #FFFFFF;
 transition: 0.5s;
margin-left: -10%;
}

.ourwork>p {
    font-size: 2em;
    color: #FFFFFF;
    font-weight: 700;
    height: 22px;
    height: 2%;
    padding: 0 16%;
    line-height: 1em;
}
@media (max-width: 1580px){
    .ourwork>p {
        padding: 0 12%;
        font-size: 1.5em;
    }
}
@media (max-width: 1170px){
    .ourwork>p{
        font-size: 1.3em;
    }
}
.ourwork>ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 5%;
    margin-right: 5%;
    gap: 35px;
}
@media (max-width: 1580px){
    .ourwork>ul{
        gap: 15px;
        margin-left: 15%;
    margin-right: 15%;
    }
}
@media (max-width: 1170px){
    .ourwork>ul{
        flex-wrap: wrap;
        margin-left: 5%;
    margin-right: 5%;
    }
}

.ourwork>ul>li {
    font-size: 16px;
    font-weight: 700;
    width: 16%;
}
@media (max-width: 1580px){
    .ourwork>ul>li {
        font-size: 13px;
        width: 16%;
    }
}
@media (max-width: 1170px){
    .ourwork>ul>li {
        width: 30%;
    }
}

.ourwork-container {
    margin-bottom: 5%;
}

.ourwork-container>ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 3.3px;
    justify-content: center;
}
.ourwork-container>ul>li{
    width: 24.55%;
}
@media (max-width: 1580px){
    .ourwork-container>ul>li{
        width: 33%;
    }
}
@media (max-width: 1170px){
    .ourwork-container>ul>li{
        width: 48%;
    }
}
@media (max-width: 1170px){
    .ourwork-container>ul>li:nth-last-child(-n + 6){
        display: none;
    }
}

.ourwork-container>ul>li>img{
    filter: grayscale(1);
    transition: 1s;
    width: 100%;
}
.ourwork-container>ul>li>img:hover{
    filter: grayscale(0);
}
.ourwork-container>ul>li:hover{
    z-index: 1000;
    filter: grayscale(0);
    scale: 110%;
    transition: 1s;
}

.bot-cont{
    background-image: url(img/bot-big-bgi.jpg);
    height: 2930px;
    background-repeat: no-repeat;
    background-position-x: -113px;
    background-position-y: -562px;
}

.partners{
    height: 31.5%;
}
.partners >h3{
    font-size: 96px;
    font-weight: 300;
    height: 44px;
    margin-top: 10%;
    padding-bottom: 4%;
}
.partners >h3:hover{
 color: #FF607F;
 transition: 1s;
margin-left: -100px;
}
.partners >p{
    font-size: 26px;
    font-weight: 700;
    color: #000000;
}
.partners >p>span{
    color: #FF607F;
}
.partners-cont{
    height: 71.5%;
}
.partners-cont>ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    height: 50%;
    width: 60%;
    margin: 0 auto;
    padding-top: 5%;
}
.partners-cont>ul>li{
    height: 55%;
    width: 25%;
    display: flex;
    justify-content: center;
}
.partners-cont>ul>li>svg{
    margin: auto;
    filter: grayscale(1);
}
.partners-cont>ul>li>svg:hover{
    filter: grayscale(0);
    transition: 1s;
}

.feedback {
    height: 62%;
}

.feedback-cont{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    height: 10%;
    margin-left: 8%;
}

.feedback-cont>li{
    list-style-type: none;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feedback-cont>li>div:nth-child(2){
    margin-top: 40px;
}

.feedback-cont>li>div{
    display: flex;
    justify-content: flex-start;
}

.feedback-cont>li>div>p{
    height: 20px;
    margin: auto 0;
}

.feedback-cont-r1{
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 700;
}

.feedback-cont-r2{
    font-size: 23px;
    font-weight: 900;
    padding-left: 3%;
}

.feedback-cont-r3 {
    font-size: 23px;
    font-weight: 400;
    padding-left: 3%;
}

.feedback>iframe{
    width: 62%;
    height: 32%;
    margin-top: 8%;
    filter: grayscale(1);
}

.feedback>iframe:hover{
    filter: grayscale(0);
    transition: 1s;
}

.feedback>form{
    height: 10%;
    margin-top: 7%;
}

.feedback-form-email{
    display: block;
    margin: 0 auto;
    width: 35%;
    height: 52%;
    border-color: #7B7B7B;
    border-radius: 10px;
    font-size: 65px;
    text-align: center;
}

.feedback-form-email:focus-visible{
    outline: none;
}

.feedback-form-submit{
    display: block;
    margin: 0 auto;
    font-size: 28px;
    font-weight: 700;
    color: #484848;
    margin-top: 2%;
    border: none;
    background-color: unset;
    cursor: pointer;
    text-transform: uppercase;
}

footer{
    height: 419px;
    background-color: #656565;
}

.footer-wrap{
    display: flex;
    flex-direction: column;
    margin-top: 7%;
}

.footer-wrap>div{
    display: flex;
    justify-content: center;
}

.footer-wrap>div:nth-child(2){
    margin: 2% auto;
    width: 10%;
    gap: 32%;
}
.footer-wrap>div:nth-child(3){
    margin: 0 auto;
    width: 10%;
    gap: 30%;
}
.footer-wrap>div>button{
    height: 10%;
    background-color: unset;
    cursor: pointer;
    border: none;
    font-size: 14px;
    font-weight: 400;
    gap: 10%;
    color: #FFFFFF;
}
.footer-ver-active{
    color: gray !important;
}

.footer-wrap>div>p{
    width: 45%;
}


/* -------Портфолио-------- */
/* -------Портфолио-------- */
/* -------Портфолио-------- */
/* -------Портфолио-------- */

.portfolio {
    
}

.portfolio-wrap {
    background-color: #fff;
    padding: 0 20%;
    display: flex;
    flex-direction: column;
    background-image: url(img/portfolio-bgi.jpg);
    background-size: 105%;
    background-repeat: no-repeat;
    background-position-y: 700px;
    
}

.portfolio-heading {
    /* font-size: 76px; */
    line-height: 1em;
    margin: 1%;
    margin: 7% 0 3% 0;
    position: relative;
}

.portfolio-heading-animation-title {
    font-size: 72px;
    line-height: 1em;
    font-weight: 300;
    margin-left: -25%;
    text-align: left;
}

.portfolio-heading-animation {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1000;
}
.portfolio-heading-animation:hover{
    opacity: 1;
}

.portfolio-heading-animation:hover > 
.portfolio-heading-animation-l
 {
    margin-left: -25%;
    margin-bottom: 0;
}
.portfolio-heading-animation:hover > 
.portfolio-heading-animation-r
 {
    margin-right: -25%;
    margin-bottom: 0;
}


.portfolio-heading-animation-l {
    display: flex;
    align-items: center;
    margin-left: -30%;
    margin-bottom: -10%;
}
.portfolio-heading-animation-r {
    display: flex;
    align-items: center;
    margin-right: -30%;
    margin-bottom: -10%;
}
.portfolio-heading-1 {
    display: flex;
    font-weight: 400;
    font-size: 76px;
    text-align: left;
    line-height: 1em;
}
.portfolio-heading-2 {
    display: flex;
    font-weight: 200;
    text-align: left;
    font-size: 76px;
    line-height: 1em;
}
.portfolio-avards {
    display: flex;
    align-items: center;
}

.portfolio-avards-text{
    padding-left: 1%;
}

.portfolio-img{
    width: 35%;
    margin: 3% 0;
}

.portfolio-description {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-size: 20px;
    color: #707070;
}

.portfolio-description > li {
    display: flex;
}

.portfolio-description-announcement {
    width: 20%;
    min-width: 150px;
    text-align: left;
    font-weight: 200;
    line-height: 1.2em;
}
.portfolio-description-meaning {
    font-weight: 400;
}

.portfolio-about {
 text-align: left;
 margin: 5% 0;
}

.portfolio-about-heading {
    font-size: 32px;
    color: #000000;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1em;
    margin-bottom: 2%;
}

.portfolio-about-p {
    font-size: 24px;
    font-weight: 200;
    line-height: 1em;
}

.portfolio-additional {
 display: flex;
 flex-direction: column;
 margin-top: 5%;
}

.portfolio-additional-heading {
    text-align: left;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 1px;
}

.portfolio-additional-mat {
    display: flex;
    flex-direction: column;
    margin: 5% 0;
    gap: 20px;
}

.portfolio-additional-mat-pre{
    display: flex;
    align-items: center;
}

.portfolio-additional-mat-pre > div {
    min-width: 50px;
    display: flex;
}

.portfolio-additional-mat-pre > div > p {
    color: #707070;
}

.portfolio-gallery {
    margin-bottom: 30%;
}

.portfolio-gallery-block {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.portfolio-gallery-block > li {
    /* background-color: #23a6d5; */
    width: 23.5%;
}

.portfolio-footer-logo {
    width: 51%;
    margin: 0 auto;
    margin-bottom: -20px;
}